.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*_cache
*_files
/Aulas/01-intro/libs/header-attrs-2.10/
/Aulas/01-intro/libs/tile-view-0.2.6/
/Aulas/02-intro2/libs/header-attrs-2.10/
/Aulas/02-intro2/libs/tile-view-0.2.6/
